:root {
  --mainEng-font: 'Montserrat';
  --mainKor-font: 'nanumSquareNeo';
  --mainNum-font: 'gmarket';

  --mainBg-color: #f7f7f7;
  --subBg-color50: #fae496;
  --subBg-color60: #ffdf74;
  --subBg-color100: #fffaea;
  --subBg-color150: #efeae4;
  --subBg-color200: #1a1a1a;

  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;
  --subBg600: #bbc5b7;
  --subBg700: #c2cdbe;

  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;

  /* 기본 폰트 설정 */
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* 폰트를 부드럽게 렌더링하기 위한 속성  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 아이폰 가로 모드에서 글씨 확대 금지 */
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}

body {
  color: var(--black100);
  /* background-color: var(--mainBg-color); */
  background-color: var(--subBg-color50);
}
